/* .services {
  background-image: url("../../images/services/service-bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  
} */

/* .card-body{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  
} */